# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3k2s\Programming on the Internet\lab01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
